In [1]:
import pandas as pd
import pyarrow as pa
import datetime as dt
from deltalake import DeltaTable, write_deltalake

In [2]:
DELTA_POSTS_PATH = "../data/raw_reddit_posts"
delta_posts_table = DeltaTable(DELTA_POSTS_PATH)

df1 = delta_posts_table.to_pandas()

In [3]:
df1.head()

,post_title,post_score,post_id,post_url,post_name,post_author_name,post_body,post_created_at,post_edited_at,added_at
0,RAH THEY LOOK PERFECT,3104,1or05al,https://i.redd.it/rtlgsauzavzf1.jpeg,t3_1or05al,TLOU_1,,2025-11-08 01:11:53,1970-01-01 08:00:00,2025-11-09 20:33:25.623074
1,Ami Thompson appreciation post,1820,1os3fiy,https://www.reddit.com/gallery/1os3fiy,t3_1os3fiy,Trillex_PL_Zykov,There won't be enough of a praise for all the ...,2025-11-09 07:10:17,1970-01-01 08:00:00,2025-11-09 20:33:25.634669
2,Omg look at her ðŸ¥º,715,1os8xri,https://i.redd.it/6vkapl1ki50g1.jpeg,t3_1os8xri,Drawingandstuff2000,,2025-11-09 11:32:59,1970-01-01 08:00:00,2025-11-09 20:33:25.634669
3,I drew Mira! âœ¨,579,1os7kjs,https://www.reddit.com/gallery/1os7kjs,t3_1os7kjs,MayutArts,,2025-11-09 10:24:06,1970-01-01 08:00:00,2025-11-09 20:33:25.639084
4,K-Pop Demon Hunters Nominated for 5 Grammys,1247,1oqywhk,https://www.reddit.com/r/KpopDemonhunters/comm...,t3_1oqywhk,StrategicCarry,* Song of the Year for Golden (EJAE and Mark S...,2025-11-08 00:25:16,2025-11-08 00:27:11,2025-11-09 20:26:56.682074

In [4]:
DELTA_COMMENTS_PATH = "../data/raw_reddit_posts_comments"
delta_comments_table = DeltaTable(DELTA_COMMENTS_PATH)

df = delta_comments_table.to_pandas()

In [5]:
df.head()

,post_title,post_score,post_id,post_url,post_name,post_author_name,level,comment_id,comment_name,comment_upvotes,comment_downvotes,comment_created_at,comment_edited_at,comment_author_name,comment_author_fullname,comment_parent_id,comment_body
0,None,NaN,1oqywhk,None,t3_1oqywhk,None,comment,nnmd63c,t1_nnmd63c,414,0,2025-11-08 00:38:48,1970-01-01 08:00:00,Wannabe_Pear,t2_1rcscd9n8f,t3_1oqywhk,The fact everyone thought this was gonna be a ...
1,None,NaN,1oqywhk,None,t3_1oqywhk,None,reply,nnmjit2,t1_nnmjit2,76,0,2025-11-08 01:09:51,1970-01-01 08:00:00,SkullMan140,t2_10px8y,t1_nnmd63c,Who would have thought the story of the golden...
2,None,NaN,1oqywhk,None,t3_1oqywhk,None,reply,nnmwj7m,t1_nnmwj7m,40,0,2025-11-08 02:14:24,1970-01-01 08:00:00,Zimpiest_of_them_all,t2_1qnyyqmguk,t1_nnmd63c,I always love to imagine the faces of the peop...
3,None,NaN,1oqywhk,None,t3_1oqywhk,None,reply,nnmjoc7,t1_nnmjoc7,28,0,2025-11-08 01:10:37,1970-01-01 08:00:00,Enough-Ad-3111,t2_4r8syd06,t1_nnmd63c,Not to mention it has some potential for even ...
4,None,NaN,1oqywhk,None,t3_1oqywhk,None,reply,nnn2wsq,t1_nnn2wsq,13,0,2025-11-08 02:45:48,1970-01-01 08:00:00,Motor-Source8711,t2_x4md3w9pn,t1_nnmd63c,"when you add in total views of covers, views o..."

In [2]:
df.tail()

,post_title,post_score,post_id,post_url,post_name,post_author_name,level,comment_id,comment_name,comment_upvotes,comment_downvotes,comment_created_at,comment_edited_at,comment_author_name,comment_author_fullname,comment_parent_id,comment_body
37,Huntrix x Powerpuff girls,494,1opikw3,https://i.redd.it/a0ecmeswtizf1.jpeg,t3_1opikw3,Necessary_Board_9775,comment,nnbzzgf,t1_nnbzzgf,30,0,2025-11-06 08:04:19,1970-01-01 08:00:00,Nerdy-Everyday,t2_buc5n1jm,t3_1opikw3,Their personalities even line up.\n\nRumi / Bl...
38,EJAE and Mark Sonnenblick reveal an early iter...,154,1opqnxz,https://v.redd.it/1txc1qfcpkzf1,t3_1opqnxz,escarzador,comment,nnditt4,t1_nnditt4,32,0,2025-11-06 14:03:06,1970-01-01 08:00:00,mid-lev,t2_lfznrwzse,t3_1opqnxz,That woman in the background looks like sheâ€™s ...
39,EJAE and Mark Sonnenblick reveal an early iter...,154,1opqnxz,https://v.redd.it/1txc1qfcpkzf1,t3_1opqnxz,escarzador,reply,nndlsjn,t1_nndlsjn,12,0,2025-11-06 14:29:00,1970-01-01 08:00:00,PinkJenni,t2_1zdxy8rrbv,t1_nnditt4,She is taking it all in. EJAEâ€™s voice is so he...
40,Rumi and EJAE are so similar!,319,1oplbfw,https://www.reddit.com/gallery/1oplbfw,t3_1oplbfw,Medical_Dimension919,comment,nncldfv,t1_nncldfv,39,0,2025-11-06 10:10:16,1970-01-01 08:00:00,Monkejedi,t2_surt50njj,t3_1oplbfw,Donâ€™t forget Remi Ami!\n\nhttps://preview.redd...
41,Rumi and EJAE are so similar!,319,1oplbfw,https://www.reddit.com/gallery/1oplbfw,t3_1oplbfw,Medical_Dimension919,reply,nncm6cz,t1_nncm6cz,7,0,2025-11-06 10:15:05,1970-01-01 08:00:00,Medical_Dimension919,t2_8f9ixwa4q,t1_nncldfv,Of course! can't forget our queen!

https://delta-docs-incubator.netlify.app/delta-update/#slowly-changing-data-scd-type-2-operation-into-delta-tables

Upsert into a table using merge
You can upsert data from a source table, view, or DataFrame into a target Delta table by using the MERGE SQL operation. Delta Lake supports inserts, updates and deletes in MERGE, and it supports extended syntax beyond the SQL standards to facilitate advanced use cases.

Suppose you have a source table named people10mupdates or a source path at /tmp/delta/people-10m-updates that contains new data for a target table named people10m or a target path at /tmp/delta/people-10m. Some of these new records may already be present in the target data. To merge the new data, you want to update rows where the personâ€™s id is already present and insert the new rows where no matching id is present. You can run the following:

```
MERGE INTO people10m
USING people10mupdates
ON people10m.id = people10mupdates.id
WHEN MATCHED THEN
  UPDATE SET
    id = people10mupdates.id,
    firstName = people10mupdates.firstName,
    middleName = people10mupdates.middleName,
    lastName = people10mupdates.lastName,
    gender = people10mupdates.gender,
    birthDate = people10mupdates.birthDate,
    ssn = people10mupdates.ssn,
    salary = people10mupdates.salary
WHEN NOT MATCHED
  THEN INSERT (
    id,
    firstName,
    middleName,
    lastName,
    gender,
    birthDate,
    ssn,
    salary
  )
  VALUES (
    people10mupdates.id,
    people10mupdates.firstName,
    people10mupdates.middleName,
    people10mupdates.lastName,
    people10mupdates.gender,
    people10mupdates.birthDate,
    people10mupdates.ssn,
    people10mupdates.salary
  )
  ```

# Lets test making a dummy updated record and upsert it into the existing delta lake table

In [ ]:
created_at = dt.datetime.strptime("2025-11-06 08:04:19", "%Y-%m-%d %H:%M:%S")

datetime.datetime(2025, 11, 6, 8, 4, 19)

In [4]:
dt.datetime.now()

datetime.datetime(2025, 11, 8, 9, 18, 15, 317213)

In [19]:
test_table = pa.table({
    "post_title": ["new title", "new title too", "another new title"],
    "post_score": [9999, 10000, 24548],
    "post_id": ["1opcev8", "mira", "zoey"],
    "post_url": ["https://i.redd.it/a0ecmeswtizf1.jpeg", "https://some-url.com", "https://some-url.com"],
    "post_name": ["t3_1opcev8", "t3_mira", "t3_zoey"],
    "post_author_name": ["DemiFiendRSA", "Aristodemus", "leonidas"],
    "level": ["comment", "comment", "reply"],
    "comment_upvotes": [1000, 2000, 3000],
    "comment_downvotes": [6, 0, 0],
    "comment_name": ["t1_nnakzjc", "t1_someguy", "t1_anotherguy"],
    "comment_id": ["nnakzjc", "someguy", "anotherguy"],
    "comment_created_at": [dt.datetime.strptime("2025-11-06 03:44:31", "%Y-%m-%d %H:%M:%S"), dt.datetime.now(), dt.datetime.now()],
    "comment_edited_at": [dt.datetime.now(), dt.datetime.strptime("1970-01-01 08:00:00", "%Y-%m-%d %H:%M:%S"), dt.datetime.strptime("1970-01-01 08:00:00", "%Y-%m-%d %H:%M:%S")],
    "comment_author_name": ["Cluelessbigirl", "SomeGuy123", "anotherguy123"],
    "comment_author_fullname": ["t2_duy9z7kw", "t2_4234982398", "t2_0feie23"],
    "comment_parent_id": ["t3_1opcev8", "t3_mira", "t3_zoey"],
    "comment_body": ["We're going up up up, it's our moment!", "fit check for my napalm eraaa", "need to beat my face make it cute and savage"],
})
test_table

pyarrow.Table
post_title: string
post_score: int64
post_id: string
post_url: string
post_name: string
post_author_name: string
level: string
comment_upvotes: int64
comment_downvotes: int64
comment_name: string
comment_id: string
comment_created_at: timestamp[us]
comment_edited_at: timestamp[us]
comment_author_name: string
comment_author_fullname: string
comment_parent_id: string
comment_body: string
----
post_title: [["new title","new title too","another new title"]]
post_score: [[9999,10000,24548]]
post_id: [["1opcev8","mira","zoey"]]
post_url: [["https://i.redd.it/a0ecmeswtizf1.jpeg","https://some-url.com","https://some-url.com"]]
post_name: [["t3_1opcev8","t3_mira","t3_zoey"]]
post_author_name: [["DemiFiendRSA","Aristodemus","leonidas"]]
level: [["comment","comment","reply"]]
comment_upvotes: [[1000,2000,3000]]
comment_downvotes: [[6,0,0]]
comment_name: [["t1_nnakzjc","t1_someguy","t1_anotherguy"]]
...

# now we merge the updated records and newly inserted records into the existing delta lake table based on the unique ids such as post_name/post_id, comment_name/comment_id, and comment_parent_id as these composite keys make the records unique and prevent duplication

what if a target delta lake table has a composite key that exists but has been deleted when scraped, I guess in this case as we don't need to already since we are doing this on a daily basis, and we only want to get the information left by users in a forum purely, doesn't matter if their accounts get deleted, we don't need to reflect this change in our data lake house table



which is basically the equivalent of
```
MERGE INTO delta_table
USING test_table
ON delta_table.post_id = source_table.post_id AND
target.comment_id = source.comment_id AND 
target.comment_parent_id = source.comment_parent_id
WHEN MATCHED AND (
    -- The Conditional Update Predicate (Your Change Check)
    source.post_title IS DISTINCT FROM target.post_title OR
    source.post_score IS DISTINCT FROM target.post_score OR
    source.post_url IS DISTINCT FROM target.post_url OR
    source.post_name IS DISTINCT FROM target.post_name OR
    source.post_author_name IS DISTINCT FROM target.post_author_name OR
    source.level IS DISTINCT FROM target.level OR
    source.comment_upvotes IS DISTINCT FROM target.comment_upvotes OR
    source.comment_downvotes IS DISTINCT FROM target.comment_downvotes OR
    source.comment_name IS DISTINCT FROM target.comment_name OR
    source.comment_edited_at > target.comment_edited_at OR 
    source.comment_author_name IS DISTINCT FROM target.comment_author_name OR
    source.comment_author_fullname IS DISTINCT FROM target.comment_author_fullname OR
    source.comment_body IS DISTINCT FROM target.comment_body
) THEN
    UPDATE SET
        target.post_title = source.post_title,
        target.post_score = source.post_score,
        target.post_url = source.post_url,
        target.post_name = source.post_name,
        target.post_author_name = source.post_author_name,
        target.level = source.level,
        target.comment_upvotes = source.comment_upvotes,
        target.comment_downvotes = source.comment_downvotes,
        target.comment_name = source.comment_name,
        target.comment_edited_at = source.comment_edited_at, -- Must update the column that triggers the change!
        target.comment_author_name = source.comment_author_name,
        target.comment_author_fullname = source.comment_author_fullname,
        target.comment_body = source.comment_body
WHEN NOT MATCHED THEN 
    INSERT (
        post_id
        comment_id
        comment_parent_id
        post_title
        post_score
        post_url
        post_name
        post_author_name
        level
        comment_upvotes
        comment_downvotes
        comment_name
        comment_created_at
        comment_edited_at
        comment_author_name
        comment_author_fullname
        comment_body
    )
    VALUES (
        source.post_id
        source.comment_id
        source.comment_parent_id
        source.post_title
        source.post_score
        source.post_url
        source.post_name
        source.post_author_name
        source.level
        source.comment_upvotes
        source.comment_downvotes
        source.comment_name
        source.comment_created_at
        source.comment_edited_at
        source.comment_author_name
        source.comment_author_fullname
        source.comment_body
    )
```

In [20]:
delta_table.merge(
    test_table,
    predicate="target.post_id = source.post_id AND \
        target.comment_id = source.comment_id AND \
        target.comment_parent_id = source.comment_parent_id",
    source_alias="source",
    target_alias="target"
).when_matched_update(
    updates={
        # these are not included as these are the composite keys
        # that are not by good practice supposed to be updated
        # "post_id": "source.post_id",
        # "comment_id": "source.comment_id",
        # "comment_parent_id": "source.comment_parent_id",
        "post_title": "source.post_title",
        "post_score": "source.post_score",
        "post_url": "source.post_url",
        "post_name": "source.post_name",
        "post_author_name": "source.post_author_name",
        "level": "source.level",
        "comment_upvotes": "source.comment_upvotes",
        "comment_downvotes": "source.comment_downvotes",
        "comment_name": "source.comment_name",
        # "comment_created_at": "source.comment_created_at",
        "comment_edited_at": "source.comment_edited_at",
        "comment_author_name": "source.comment_author_name",
        "comment_author_fullname": "source.comment_author_fullname",
        "comment_body": "source.comment_body"
    }, 
    # this tells delta to only update a record if the new record
    # does indeed have changed its column values when compared to the
    # current record
    predicate="source.post_title IS DISTINCT FROM target.post_title OR" \
        "source.post_score IS DISTINCT FROM target.post_score OR" \
        "source.post_url IS DISTINCT FROM target.post_url OR" \
        "source.post_name IS DISTINCT FROM target.post_name OR" \
        "source.post_author_name IS DISTINCT FROM target.post_author_name OR" \
        "source.level IS DISTINCT FROM target.level OR" \
        "source.comment_upvotes IS DISTINCT FROM target.comment_upvotes OR" \
        "source.comment_downvotes IS DISTINCT FROM target.comment_downvotes OR" \
        "source.comment_name IS DISTINCT FROM target.comment_name OR" \
        # "source.comment_created_at IS DISTINCT FROM target.comment_created_at OR" \
        "source.comment_edited_at > target.comment_edited_at OR" \
        "source.comment_author_name IS DISTINCT FROM target.comment_author_name OR" \
        "source.comment_author_fullname IS DISTINCT FROM target.comment_author_fullname OR" \
        "source.comment_body IS DISTINCT FROM target.comment_body" \
).when_not_matched_insert_all()\
.execute()

{'num_source_rows': 3,
 'num_target_rows_inserted': 1,
 'num_target_rows_updated': 0,
 'num_target_rows_deleted': 0,
 'num_target_rows_copied': 0,
 'num_output_rows': 1,
 'num_target_files_scanned': 1,
 'num_target_files_skipped_during_scan': 0,
 'num_target_files_added': 1,
 'num_target_files_removed': 0,
 'execution_time_ms': 82,
 'scan_time_ms': 40,
 'rewrite_time_ms': 0}

# after update and insertion of these 2 records we will check the delta table again

In [21]:
new_df = delta_table.to_pandas()
new_df.head()

,post_title,post_score,post_id,post_url,post_name,post_author_name,level,comment_id,comment_name,comment_upvotes,comment_downvotes,comment_created_at,comment_edited_at,comment_author_name,comment_author_fullname,comment_parent_id,comment_body
0,another new title,24548,zoey,https://some-url.com,t3_zoey,leonidas,reply,anotherguy,t1_anotherguy,3000,0,2025-11-08 13:13:10.800989,1970-01-01 08:00:00.000000,anotherguy123,t2_0feie23,t3_zoey,need to beat my face make it cute and savage
1,new title too,10000,mira,https://some-url.com,t3_mira,Aristodemus,comment,someguy,t1_someguy,2000,0,2025-11-08 09:29:41.414516,1970-01-01 08:00:00.000000,SomeGuy123,t2_4234982398,t3_mira,fit check for my napalm eraaa
2,new title,9999,1opcev8,https://i.redd.it/a0ecmeswtizf1.jpeg,t3_1opcev8,DemiFiendRSA,comment,nnakzjc,t1_nnakzjc,1000,6,2025-11-06 03:44:31.000000,2025-11-08 09:29:41.414516,Cluelessbigirl,t2_duy9z7kw,t3_1opcev8,"We're going up up up, it's our moment!"
3,â€˜KPop Demon Hunters 2â€™ Aims for 2029 Release o...,2121,1opcev8,https://variety.com/2025/film/news/kpop-demon-...,t3_1opcev8,DemiFiendRSA,reply,nnaold6,t1_nnaold6,205,0,2025-11-06 04:01:42.000000,1970-01-01 08:00:00.000000,Hero_of_the_toons,t2_64w7o0ao,t1_nnakzjc,Wouldnâ€™t want a Kpdh equivalent of Sonic 06 if...
4,â€˜KPop Demon Hunters 2â€™ Aims for 2029 Release o...,2121,1opcev8,https://variety.com/2025/film/news/kpop-demon-...,t3_1opcev8,DemiFiendRSA,reply,nnb3wf6,t1_nnb3wf6,79,0,2025-11-06 05:15:41.000000,1970-01-01 08:00:00.000000,CelineShotFirst,t2_1rqf9pzis9,t1_nnakzjc,The original film took 7 years from pitch to r...